/* ClientProfile.css */

.clients-container {
        margin: 0 20px;
        height: 600px;
        overflow-y: scroll;
        box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
        border-radius: 20px;
}

.client {
        display: flex;
        align-items: center;
        margin: 20px;
        border-radius: 15px;
        text-decoration: none;
        color: inherit;
        transition: background-color 0.3s ease;
}

.client:hover {
        background-color: #f0f0f0;
}

.client-img {
        margin: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
}

.client-info {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
}

.client-fullname {
        font-size: 32px;
        font-weight: bold;
}

.client-username {
        font-size: 20px;
        margin: 0;
}