/* Login.css */
.login-container {
        text-align: center;
        padding: 20px;
}

h2 {
        color: var(--dark_blue, #003E6A);
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
}

.login-form {
        max-width: 400px;
        margin: 0 auto;
}

.login-form input {
        font-family: Poppins;
        color: var(--light_blue, #C4DCE9);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        width: 90%;
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
        background: var(--white, #FFF);
        box-shadow: -16px -16px 32px 0px rgba(140, 190, 219, 0.25) inset, 4px 4px 16px 0px rgba(0, 62, 106, 0.25) inset, 8px 8px 16px 0px rgba(16, 16, 16, 0.25);
}

.login-button {
        margin-top: 20px;
        color: var(--white, #FFF);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        width: 100%;
        padding: 20px;
        border: none;
        border-radius: 20px;
        background: var(--dark_blue, #003E6A);
        box-shadow: -16px -16px 32px 0px rgba(140, 190, 219, 0.25) inset, 4px 4px 16px 0px rgba(0, 62, 106, 0.25) inset, 8px 8px 16px 0px rgba(16, 16, 16, 0.25);
        cursor: pointer;
}

.login-button:disabled {
        cursor: not-allowed;
}

.error {
        font-family: Poppins;
        color: red;
        font-size: 10px;
        margin-top: 4px;
}

p {
        font-family: Poppins;
        font-size: 14px;
        color: var(--dark_blue, #003E6A);
        margin-top: 10px;
}

a {
        color: var(--dark_blue, #003E6A);
        text-decoration: underline;
}